@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* bodsy{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
} */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.footer .container{
  max-width: 1170px;
  margin:auto;
}
.footer .row{
  display: flex;
  flex-wrap: wrap;
}
.footer-col ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: green;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/* copyright */
.footer-bottom {
  border-top: 1px solid #bbbbbb;
  padding: 20px 0; /* Réduit le padding vertical */
  margin-top: 30px; /* Supprime la marge */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbbbbb;
  font-size: 14px;
  flex-wrap: nowrap; /* Assure que le contenu ne se plie pas */
  height: auto; /* Supprime la hauteur fixe */
  line-height: 1; /* Réduit l'espacement des lignes */
}

.footer-bottom span {
  margin: 0 10px;
}

/* Media query pour petits appareils */
@media (max-width: 574px) {
  .footer-bottom {
      font-size: 12px; /* Réduit la taille de la police pour petits appareils */
  }

  .footer-bottom p {
      white-space: nowrap; /* Empêche le texte de se plier */
  }
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}